* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('pictures-oppo/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: justify;
    padding: 5px 4%;
    top: 0;
    width: 100%;
    height: 90px;
}

.navbar ul {
    display: flex;
    gap: 5px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: width 0.3s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.tablet-header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.phone-item,
.tablet-item {
    text-align: center;
    width: 150px;
    max-width: 100%;
    cursor: pointer;
}

.phone-item img,
.tablet-item img {
    width: 100%;
    height: auto;
    max-height: 180px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.phone-text,
.tablet-text {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
}

.outer-card {
    border: 5px solid #333;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-card {
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
}

.card-img-top {
    width: 100%;
    max-width: 100px;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
}

.btn-phone-title,
.btn-tablet-title {
    padding: 5px 10px;
    color: black;
    border-radius: 8px;
    font-size: 10px;
    text-decoration: none;
    white-space: nowrap;
    transition: color 0.3s ease;
    cursor: pointer;
    display: inline-block;
}

.btn-phone-title:hover,
.btn-tablet-title:hover {
    color: #4B3F3F;
}

footer {
    font-size: 14px;
    padding: 15px;
    text-align: center;
    color: rgb(56, 53, 53);
}