* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.body {
    background-color: #A3AFBB;
}

.navbar-logo {
    display: inline-block;
    width: 150px;
    height: 100px;
    background-image: url('pictures-goblin/logo-leaf.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease;
}

.navbar-logo:hover {
    transform: scale(1.1);
}

.navbar {
    width: 90%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #A1ADB9;
}

.nav-item .nav-link {
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}

.nav-item .nav-link:hover {
    color: #713642;
}

.navbar-link ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
    margin: 30px;
    position: relative;
}

.navbar-link ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    position: relative;
}

.navbar-link ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: black;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease;
}

.navbar-link ul li:hover::after {
    width: 100%;
}

.navbar-link ul li a:hover {
    color: black;
}

.card {
    background-color: #A3AFBB;
    border: 1px solid #A3AFBB;
    border-radius: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(0.9);
}

.container {
    position: relative;
    display: flex;
    height: 100vh;

}

.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 350px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
}

.goblin {
    font-weight: 600;
    margin-left: 8px;
    color: black;
    font-size: 60px;
}

.filmingLocations {
    font-size: 60px;
}

.img-jannerch {
    max-width: 100%;
    transition: transform 0.3s ease-in-out;
}